a:hover{
    text-decoration: none;
    color: chartreuse;
    font-family: 'Righteous', sans-serif;
    font-size: 20px;
    transition-timing-function: ease-in-out;
    transition: 0.3s;
    position: relative;
}

.navigation-list:hover{
    border-bottom: solid greenyellow;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1.2rem;
}

.login-btn:hover {
    font-family: 'Righteous', sans-serif;
    font-size: 20px;
    height: 2.6rem;
    width: 5rem;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    background-color: rgba(26, 65, 10, 0.718);
    border: 2.3px solid;
    border-radius: 10px;
    color: greenyellow;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}
