@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgba(249, 255, 207, 0.93);
    font-family: 'Righteous', sans-serif;
    font-size: 17px;
    transition-timing-function: ease-in-out;
    transition: 0.3s;
    position: relative;
}

li {
    list-style: none;
    display: inline-flex;
}

header {
    background-color: #0003;
    width: 98vw;
    text-align: center;
    height: 4rem;
}

.header-d {
    display: flex;
    justify-content: center;
    padding-bottom: 1.2rem;
    margin-top: -50rem;
}

.navigation-list {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1.2rem;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.login-btn {
    font-family: 'Righteous', sans-serif;
    font-size: 17px;
    height: 2.2rem;
    width: 4.5rem;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    background-color: #7d801080;
    border: 2.3px solid;
    border-radius: 10px;
    color: aliceblue;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.background-image {
    height: auto;
    width: 100%;
}

.logo-d {
    display: inline-flex;
}


.site_small_info {
    display: flex;
    justify-content: start;
    margin-left: 3vw;
    margin-top: 7rem;
    margin-right: 48vw;
    background-color: azure;
  }

.small_info {
    font-family: 'Righteous', sans-serif;
    font-size: 20px;
    color: aliceblue;
  }

.site_name {
    font-size: 80px;
    font-family: 'Righteous', sans-serif;
    background-color: rgba(10, 32, 0, 0.397);
    padding: 1rem;
    padding-left: 3vw;
    color: rgba(245, 222, 179, 0.836);
}

.site_name_d {
    display: flex;
    justify-content: left;
    margin-top: 0rem;
    height: 20rem;
    width: 70vw;
    padding-bottom: 11.3rem;
}


.container1{
    width: 98vw;
    background-color: aqua;
    height: 2rem;
    display: flex;
    justify-content: center;   

}
